<nav>
  <ul>
    <li>
      <LinkTo @route="index">
        index
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="foo">
        foo
      </LinkTo>
    </li>
    <li>
      <LinkTo @route="foo.bar">
        foo.bar
      </LinkTo>
    </li>
  </ul>
</nav>